<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title> {{ block "title" . }} {{ .Site.Title }} {{ end }} </title>
</head>

<body>
  <header>
    <nav class="separate">
      <a class="base-nav-home {{ if eq .Permalink .Site.BaseURL }}active-link{{ end }}" href="/">mjlee.dev</a>
      <ul class="base-nav-list">
        {{ $current := . }}
        {{ range .Site.Menus.main }}
        <li class="inline-item {{ if strings.Contains $current.RelPermalink .URL }}active-link{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>
  <footer class="base-footer">
    <p class="base-footer-copyright"> &copy; {{now.Format "2006"}} {{.Site.Title}}. All Rights Reserved </p>
  </footer>
</body>

</html>