@font-face {
  font-display: swap;
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/cutive-mono-v20-latin-regular.woff2") format("woff2");
}

:root {
  --text-color: #395144;
  --text-color-secondary: #4e6c50;
  --background-color: #f0ebce;
  --background-color-secondary: #aa8b56;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: -3px;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Cutive Mono", monospace;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1vw 10vw;
  flex-grow: 1;
}

nav {
  background: var(--background-color-secondary);
  color: var(--background-color);
  align-items: center;
  padding: 0.7rem 0;
}

nav a {
  color: currentColor;
  text-decoration: none;
}

ul,
p,
a {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  display: inline-block;
}

a {
  text-decoration: underline 1px;
}

footer {
  background: var(--background-color-secondary);
  display: flex;
  margin-top: 2vw;
}

.base-nav-home {
  margin-left: 10vw;
}

.base-nav-list {
  margin-right: 10vw;
}

.base-footer-copyright {
  margin: auto;
}

.nav-active-link {
  color: var(--text-color);
  font-weight: bold; 
}


.inline-item {
  display: inline-block;
  margin-left: 2vw;
}

.separate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}