:root{
  --text-color: #395144;
  --text-color-secondary:#4E6C50;
  --background-color: #F0EBCE;
  --background-color-secondary: #AA8B56;
  font-size: calc(1rem + 0.5vw);
}

body{
  min-height: 100vh;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Zilla Slab', serif;
  display: flex;
  flex-direction: column;
}

main{
  padding: 2vw 10vw;
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

.nav-main{
  background: var(--background-color-secondary);
  color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.2rem + 0.5vw) 0;
}

.nav-main-home{ 
  display: inline-block;
  margin-left: 10vw;
  justify-self: center;
}

.nav-main-list{ 
  margin-right: 10vw;
}
.nav-main-item{ 
  display: inline-block;
  margin-right: 1vw;
}
.footer-main{
  background: var(--background-color-secondary);
  display: flex;
}
.footer-copyright{
  margin: auto;
}

.active{color: var(--text-color-secondary)}
code{text-wrap: wrap;}