@font-face {
  font-display: swap;
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/cutive-mono-v20-latin-regular.woff2") format("woff2");
}

:root {
  --text-color: #395144;
  --text-color-secondary: #0000EE;
  --background-color: #f0ebce;
  --background-color-secondary: #E3CAA5;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: -2px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--background-color);
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Cutive Mono", monospace;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 5px;
  border: 2px solid var(--background-color);
}

main {
  padding: 1vw 10vw;
  flex-grow: 1;
}

nav {
  background: var(--background-color-secondary);
  align-items: center;
  padding: 0.7rem 0;
}

nav a {
  color: currentColor;
  font-style: bold;
}

ul,
p,
a {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline 1px;
}

img {
  margin: 1vw 2vw;
  width: 100%;
  height: auto;
}

footer {
  background: var(--background-color-secondary);
  display: flex;
  margin-top: 2vw;
}

.base-nav-home {
  margin-left: 10vw;
}

.base-nav-list {
  margin-right: 10vw;
}

.base-footer-copyright {
  margin: auto;
}

.nav-active-link {
  font-weight: bold;
}

.inline-item {
  display: inline-block;
  margin-left: 2vw;
}

.separate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.cv-link {
  font-size: 0.85rem;
}